<!-- Feel free to change the width and height to your desired video size. -->
<!-- Remember to include 2-letter country name, too! (LINE TODAY is available on different regions)
-->
<!-- Supported country codes (case-insensitive)

hk - Hong Kong
id - Indonesia
th - Thailand
tw - Taiwan
-->

<div class="embed-container">
  <iframe
      src="https://today.line.me/{{ include.country }}/embed/{{ include.id }}"
      width="700"
      height="480"
      frameborder="0"
      allowfullscreen=""
      allow="autoplay; encrypted-media">
  </iframe>
</div>
